<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/admin.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comms Meetings</title>
</head>
<body>
    <nav id="menu">
        <ul>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
        </ul>
    </nav>
    <header>
        <button id="menu-toggle"></button>
        <span>Site administration</span>
    </header>
    
</body>
</html>