<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&family=Tenor+Sans&display=swap" rel="stylesheet">
    <script defer src="/admin-client.js"></script>
    <link rel="stylesheet" href="/admin.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comms Users</title>
</head>

<body>

    <header>
        <div id="menu-toggle"></div>
        <span>Site administration</span>
    </header>
    <nav class="menu">
        <ul>
            <a href="/" class="home">Comms</a>
            <a href="/admin/users">Accounts</a>
            <a href="/admin/meetings">Meetings</a>
            <a href="/admin/forbidden_words"  class="selected_menu">Forbidden Words</a>
        </ul>
    </nav>
    <main>
        <h1>Prohibited words</h1>

        <form action="/admin/forbidden_words/add" method="get" class="form">
            <input required type="text" placeholder="Type word..." name="word" pattern="[a-zA-Z]+" id="word"><input type="submit" value="Forbid">
        </form>
        <div class="words_container">

        <% for(let word of words) {%>
            <a id="<%= word.id %>" class="wordtag" href="/admin/forbidden_words/delete/<%= word.id %> "><%=word.word%></a>    
        <% } %>
        </div>
    </main>

</body>

</html>