<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Tenor+Sans&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/home-client.js"></script>
    <title>Comms - Live Audience Interaction</title>
    <!-- <link rel="stylesheet" href="http://web.simmons.edu/~grovesd/comm244/notes/week4/reset-included.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <header>
        <span id="logo">comms</span>
        <%- Boolean(locals.username) ? `<a id='user_button' href="/mymeetings">${locals.username}'s meetings</a>
            <div id="login"><a id="logout" href="/logout">Log out</a></div>` :`<div id="login"><a
                    href="/register">Register</a> <a href="/login">Sign in</a></div>` %>
    </header>
    <div class="welcome-video-container">
        <video class="welcome-video" autoplay muted loop id="myVideo">
            <source src="/background-video.mp4" type="video/mp4">
        </video>
        <div class="welcome-video-container-after">
            <div class="join_meeting">
                <h1 class="main_title">Joining a meeting?</h1>
                <form action="/join_meeting" method="GET">
                    <input type="text" pattern="[0-9]{8}" name="code" id="code" placeholder="8-digit code" required>
                    <button formtarget='_blank' type="submit" id="join"></button>
                </form>
            </div>
            <p class="desc">Interact with your audience in real time.</p>
        </div>
    </div>

    <main>

        <h3 data-aos="fade-up">
            Ultimate Q&A tool for <span class="magic">seamless</span> meetings.
        </h3>
        <p data-aos="fade-down" class="subdesc">With easy-to-use
            interface, create and schedule meetings with just a few clicks. Share meeting code, invite your audience and
            give them
            the opportunity to ask questions and participate in real-time. </p>

        <a href="/mymeetings" class="create_meeting">Create your own meeting today</a>
        <div data-aos="fade-right" class="leftfeature">
            Give your meetings a personal touch by
            choosing a custom background image.  With Comms, you have the freedom to make your meetings truly
            unique and memorable.
        </div>
        <div data-aos="fade-left" class="rightfeatureimg1">
            
        </div>
        
        <div data-aos="fade-right" class="leftfeatureimg2">
            
        </div>
        <div data-aos="fade-left" class="rightfeature">
            With live Q&A meeting platform, event organizers can easily facilitate a dynamic and
            interactive experience for their attendees, all while streaming on a video platform of their choice.
        </div>
        <div data-aos="fade-right" class="leftfeature">
            <span>
            Last but not least, the comms code is open source, meaning it is freely available for anyone to view,
            modify, and distribute. <a href="https://github.com/adindozo/comms-app">github.com/adindozo/comms-app</a>
            </span>
        </div>
        <div data-aos="fade-left" class="rightfeatureimg3">
            
        </div>



    </main>
    <footer>
        <%- locals.role=='admin' ? '<a href="/admin/users">Site administration</a>' : '<span></span>' %>
            <span>© 2022 Comms Platform, Inc. Developed by Adin Đozo</span>
    </footer>
</body>

</html>