<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/home-client.js"></script>
    <title>Comms - Live Audience Interaction</title>
    <!-- <link rel="stylesheet" href="http://web.simmons.edu/~grovesd/comm244/notes/week4/reset-included.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <header>
        <span id="logo">comms_</span>
        <%- Boolean(locals.username) ? `<a id='user_button' href="/mymeetings">${locals.username}'s meetings</a>
            <div id="login"><a id="logout" href="/logout">Log out</a></div>` :`<div id="login"><a
                    href="/register">Register</a> <a href="/login">Sign in</a></div>` %>
    </header>
    <div class="welcome-video-container">
    <video class="welcome-video" autoplay muted loop id="myVideo">
        <source src="/background-video.mp4" type="video/mp4">
    </video>
    <div class="welcome-video-container-after">
        <div class="join_meeting">
        <h1 class="main_title">Joining a meeting?</h1>
        <form action="/join_meeting" method="GET">
            <input type="text" pattern="[0-9]{8}" name="code" id="code" placeholder="8-digit code" required>
            <button formtarget='_blank' type="submit" id="join"></button>
        </form>
        </div>
        <p class="desc">Interact with your audience in real time.</p>
    </div>
    </div>
   
    <main>
        
        
        <p class="subdesc">Comms platform allows you to communicate with
            your audience in a live and immediate way. This can be especially useful for events, webinars, or any other
            situation where you want to engage with your audience and get their feedback or questions in real time.</p>
            
        <a href="/mymeetings" class="create_meeting">Create your own meeting today!</a>
        <h2>Customizable</h2>
        <div class="leftfeature"> 
            Users can change the background image of event meetings.
            This can be especially useful for event organizers who want to create a specific theme or atmosphere for
            their event meetings. 
        </div>
        <h2>Real time interactions</h2>
        <div class="rightfeature"> 
            With live-interactions support, attendees can ask questions, share their thoughts, and engage
            with the event
            as it is happening.

            This can be especially useful for events and webinars where the organizers want to create a more interactive
            and engaging experience for their attendees. Event organizers are able to use a live Q&A meeting platform to
            allow attendees to ask questions which would be shared via video streaming platform.
        </div>
        <h2>Open source</h2>
        <div class="leftfeature"> 
            Last but not least, the 'comms' code is open source, meaning it is freely available for anyone to view, modify, and distribute.
            
        </div>
        

        
    </main>
    <footer>
        <%- locals.role=='admin' ? '<a href="/admin/users">Site administration</a>' : '<span></span>'%>
        <span>© 2022 Comms Platform, Inc. Developed by Adin Đozo</span>
    </footer>
</body>

</html>