<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Rubik:wght@300;400&family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="login.css">

</head>

<body>
    <header>
        <span id="logo">comms</span>

    </header>

    <main>

        <form action="/login" method="POST">
            <p class="signin">Sign in</p>
            <input required type="email" name="email" id="email" placeholder="E-mail" value="<%= locals.email %>">

            <input required type="password" name="password" id="password" placeholder="Password" value="<%= locals.pw %>">

            <p class="container">
                <span>
                    <input type="checkbox" name="remember" id="remember" value="true">
                    <label for="remember">Remember me</label>
                </span>
                <a href="/resetpassword">Forgot password?</a>

            </p>
            <input type="submit" value="Login">
            <span class="error">
                <%= locals.error %>
            </span>
            <div class="new">New to Comms? <a href="/register">Create an account</a></div>

        </form>
    </main>

    <script>
        document.querySelector('.error').classList.add('transition-color');
        setTimeout(() => {
            document.querySelector('.error').style.color = 'rgb(228, 116, 116)';
        }, 0);
    </script>
</body>

</html>