<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="shortcut icon" href="https://www.iconpacks.net/icons/1/free-bar-chart-icon-676-thumb.png"
        type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/meeting_stats_client.js"></script>
    <script>let questions = <%- JSON.stringify(locals.questions) %>; let meetingid = <%= locals.meetingid %>;</script>  
    <script src="https://cdn.plot.ly/plotly-2.17.1.min.js"></script>
    <link rel="stylesheet" href="/meeting_stats.css">
    <title>Comms Analytics</title>
</head>
<body>
    <main>
        <div id="chartSigned"></div>
        <div id="chartAnswered"></div>    
    </main>
</body>
</html>