<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>let code = <%= locals.meeting.code %>; let custom_cover_photo = <%= locals.meeting.coverphoto %>; let id = <%= locals.meeting.meetingid %></script>
    <script defer src="/meeting-socket-client.js"></script>
   
</head>
<body>
    <header>
        <span><%= locals.meeting.name %> </span>
        <span id="comms">Comms</span>
    </header>
    <main>
        <!-- when user connects on web socket, push all questions from that meeting to user and populate DOM tree -->
        <form>
            <p> <label for="name">Your name</label> <span id="name-chars-count">23</span></p>
            <input type="text" id="name" name="name" placeholder="Leave blank for anonymous">
            <p><label for="question-input">Question</label> <span id="question-chars-count">23</span></p>
            <textarea style="resize: none;" id="question-input" name="question" rows="4" cols="50"></textarea>
            <button id="send">Send</button>
        </form>
    </main>
     
     
</body>
</html>