<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Rubik:wght@300;400&family=Tenor+Sans&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.username %>'s meetings
    </title>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet" />
    <script defer>let account_id = <%= locals.account_id %></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer
        src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script defer src="/mymeetings-client.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="mymeetings.css">

</head>

<body>
    <header>
        <span id="logo">comms</span>
        <a id="user_button" href="/mymeetings">
            <%= locals.username %>'s meetings
        </a>
        <div id="login"><a id="logout" href="/logout">Log out</a></div>
    </header>
    <main>
        <div id="snackbar"></div>
        <button id="new-meeting-button">+ new meeting</button>
        <div id="new_meeting">

            <form action="/mymeetings/add_meeting" method="post" id="form">
                <div id="x"></div>
                <label for="name">Meeting name</label>
                <input required maxlength="32" type="text" name="name" id="name" placeholder="Meeting name">

                <label for="unixstart">Starts at</label>
                <input required type="datetime-local" name="unixstart" id="unixstart">



                <label for="unixend">Lasts until</label>
                <input required type="datetime-local" name="unixend" id="unixend">

                <label for="cover">Meeting cover photo (aspect ratio 16:9, leave blank for default):</label>
                <input type="file" name="cover" id="cover" class="filepond">
                <span id="error"></span>
                <span class="loader"></span>
                <input id="submit" type="submit" value="Create meeting">
            </form>
        </div>
        <span id="ul_loader"></span>
        <ul class="meeting_list">
            <!-- <li>
                <div class="indicator_container">
                    <div class="indicator-offline"></div>
                </div>
                <span class="meeting_name">Dgesdge dsfg</span>
                <span class="meeting_date">21.9.2023 - 29.12.2024</span>
                <div class="three_dots_container">
                    <div class="three_dots"></div>
                </div>
            </li> -->


        </ul>
    </main>
    <footer>
        <span>© 2022 Comms Platform, Inc. Developed by Adin Đozo</span>
    </footer>
    <script>
            document.getElementById("logo").addEventListener("click", function () {
                window.location.href = "/";
                console.log(2)
            });
    </script>
</body>

</html>