<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Rubik:wght@300;400&family=Tenor+Sans&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="no-meeting.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code <%= locals.code %>
    </title>
</head>

<body>
    <header>
        <span id="logo">comms</span>

    </header>
    <main>
        <div id="code-box">
            <%= locals.code %>
        </div>
        <span id="error" class="error">
            <%= locals.error %>
        </span>
        <span id="def">Feel free to try another code or create your own meeting!</span>
        <a href="/">Home page</a>
    </main>
    <script>
        document.querySelector('.error').classList.add('transition-color');
        setTimeout(() => {
            document.querySelector('.error').style.color = 'rgb(228, 116, 116)';
        }, 0);
    </script>
</body>

</html>