<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">

        <label for="email">Email Adddress</label>
        <input type="email" name="email" id="email" placeholder="E-mail">
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">

        <label for="showpw">Show password</label>
        <input type="checkbox" name="showpw" id="showpw">

        
        <input type="submit" value="Register">
        <div>Already have an account? <a href="/login">Log in</a></div>
        <%= locals.email_existing %> 
        <%= locals.username_existing %> 
    </form>
</body>
</html>