<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Rubik:wght@300;400&family=Tenor+Sans&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="resetpw.css">


</head>

<body>
    <header>
        <span id="logo">comms</span>

    </header>
    <main>
        <form action="/resetpassword/codesent" method="post">
            <label for="code">Enter code sent to <%= locals.email %> </label>
            <input required type="text" id="code" name="code" pattern="[0-9]{9}">

            <label for="password">Enter new password</label>
            <input required type="password" id="password" name="password"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,31}$">
            <%= locals.error %>
                <input type="submit" value="Reset password">

                <input type="email" value="<%= locals.email %>" name="email" id="email" style="display: none;">
                <div class="info">Password must contain at least one digit, one lowercase letter, one uppercase letter,
                    and must be between 8 and 32 characters long.</div>

        </form>
    </main>
</body>

</html>