<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        main {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: #333;
            color: white;
        }
    </style>
</head>

<body>
    <main>
        <form action="/resetpassword" method="POST">
            <label for="email">Enter your email.</label>
            <input type="email" name="email" id="email">
            <input type="submit" value="Send code">
        </form>
    </main>

</body>

</html>