<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/resetpassword/codesent" method="post">
        <label for="code">Enter code sent to <%= locals.email %>. </label>
        <input type="number" id="code" name="code">

        <label for="password">Enter new password</label>
        <input type="password" id="password" name="password">
        <%= locals.error %> 
        <input type="submit" value="Reset password">

        <input type="email" value="<%= locals.email %>" name="email" id="email" style="display: none;">
    </form>
</body>
</html>