:root {
    --color-400: #041C32;
    --color-300: #04293A;
    --color-200: #064663;
    --color-100: #ECB365;
  }
  *{
    margin: 0px;
    padding: 0px;
  }

header{
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-400);
    min-height: 100px;
}
header span{
    margin: 0px 40px;
    color: snow;
    background-image: url('gears.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding-right: 30px;
    text-decoration: none;

}
header div{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('menu-icon.svg');
    width: 25px;
    height: 25px;
    opacity: 50%;
    margin-left: 25px;
}
header div:hover{
    opacity: 1;
    cursor: pointer;
}

.menu{


    position: fixed;
    height: calc(100vh);
    width: 250px;
    left: -250px;
    top: 0px;
    background-color: var(--color-400);
    transition: left 0.39s ease-in-out;
}
main{
    min-height: calc(100vh - 100px);
    background-color: var(--color-300);
}
ul{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
    
}
nav a{
    padding: 20px 0px;
    padding-left: 58px;
    transition: background-color 0.2s ease-out;
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 15px;
}
nav a:nth-child(1){
    margin-top: 100px;
    
}
nav a:hover{
    background-color: var(--color-200);
}

nav a:nth-child(1){
    background-image: url('profile-icon.svg');
}
nav a:nth-child(2){
    background-image: url('meeting-icon.svg');
}

nav a:nth-child(3){
    background-image: url('https://cdn-icons-png.flaticon.com/512/642/642787.png');
}


nav a:nth-child(1){
    background-color: var(--color-200);
}
table{
    color: white;
    margin: auto;
}
table,td,th{
    /* border: 1px solid white; */
    padding: 18px;
    border-collapse: collapse;
    text-align: center;
}

.banneduntil{
    text-align: center;
}
h1{
    text-align: center;
    color: white;
    margin: 20px;
    margin-top: 0px;
}
tr:nth-child(even){
    background-color: var(--color-200);
}
thead{
    border-bottom: 2px solid white;
}
a{
    background-color: rgb(136, 30, 30);
    opacity: 0.8;
    border: 1px dashed yellow;
    padding: 10px;
    transition: background-color 1s ease-in;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    color: white;
}
table a:hover{
  
    opacity: 1;
    cursor: pointer;
}

tr:hover{
    filter: saturate(1.4);
}