/* https://colorhunt.co/palette/041c3204293a064663ecb365 */
/* font-family: 'Rubik', sans-serif;
font-family: 'Tenor Sans', sans-serif; */

:root {
    --color-400: #041C32;
    --color-300: #04293A;
    --color-200: #064663;
    --color-100: #ECB365;
    --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}

header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;

    background-color: var(--color-400);
    min-height: 100px;

}

header a {

    width: 50%;
    background-color: var(--color-200);
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 32px;
    border-radius: 4px;
    margin-left: 40px;
}

header a:hover {
    filter: saturate(200%);
    box-shadow: 5px 0px 0px 0px var(--color-100);
    transition: box-shadow 0.15s ease-out, filter 0.15s ease-out, background-color 0.15s ease-out;


}

header a:not(:hover) {
    transition: box-shadow 0.15s ease-in, filter 0.15s ease-in, background-color 0.15s ease-in;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;



}



#logo {
    font-family: 'Tenor Sans', sans-serif;
    color: var(--color-100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: default;
}

#user_button,
#user_button:hover {
    border-radius: 0px;
    filter: none;
    box-shadow: none;
    width: auto;
    background-color: transparent;
    margin: 0px;
    padding: 11px 40px;
}

#user_button:hover {
    background-color: var(--color-200);
}

main {
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    color: white;
    background-color: var(--color-300);
    min-height: calc(100vh - 200px);
    align-items: center;
  justify-content: center;
}

.main_title {
    font-weight: 300;
    font-size: 24px;
    grid-column: 4 / 6;
    text-align: center;
}

h2 {
    font-weight: 300;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3 / 7;
    text-align: center;

}

form>* {
    padding: 10px 20px;
    text-align: center;
    border: none;
    margin: 0px;

}

form>input {
    border-radius: 10px 0 0 10px;
    min-width: 40%;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.8)
}

form>input:focus {
    border: none;
    outline: none;

}

form>button {
    background-color: var(--color-100);
    border-radius: 0 10px 10px 0;
    min-width: 20%;
}

#join {
    background-image: url('arrow-right-to-bracket-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
}

.desc {
    transition: opacity 1s ease-in-out;

    opacity: 0;
    padding: 0px;
    grid-column: 2 / 8;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 35vh;
}

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }

.magic{
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }
  







footer {
    color: rgba(255, 255, 255, 0.407);
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 100px;
    background-color: var(--color-400);
}

footer span {
    margin: 0px 20px;
    color: rgba(255, 255, 255, 0.407);
    text-decoration: none;
}

footer a {
    margin: 0px 20px;
    color: snow;
    opacity: 0.5;
    background-image: url('gears.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding-right: 30px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    opacity: 1;
}

.create_meeting {
    font-weight: 300;
    grid-column: 4 / 6;
    text-align: center;
    min-width: 50%;
    margin: auto;
    margin-bottom: 20vh;
    color: rgb(255, 255, 255);
    background-color: var(--color-200);
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 20px;
    box-shadow: 0px 0px 3px 0px black;
}

.create_meeting:hover{
    filter: saturate(2);


}

h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.welcome-video-container-after {
    transition: all 1s ease-in-out;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url('/logo-main.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: rgba(0, 0, 0, 1);
    /* background-attachment: fixed; */
}


.welcome-video-container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.welcome-video {
    object-fit: cover;
    min-height: 100vh;
    min-width: 100vw;

}

* {
    overflow-x: hidden;
}

header {
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 999;
    position: fixed;
    top: 0px;
    width: 100%;
}

.join_meeting {
    opacity: 0;
    transition: opacity 1s ease-out;
    position: absolute;
    top: 100px;
}

h3{
    margin-top: 40vh;
    font-size: 48px;
    text-align: center;
    grid-column: 1 / -1;
    letter-spacing: 3px;
    font-weight: 300;
    margin-bottom: 20px;
}

.subdesc {
    font-weight: 300;
    margin-top: 0px;
    grid-column: 2 / 8;
    text-align: center;
    font-size: 18px;
}




.rightfeatureimg1{
    background-image: url('/custom-cover-ft.png');
    grid-column: 4 / -1;
    object-fit: contain;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 25vh;
    margin-bottom: 25vh;
}
.rightfeatureimg3{
    background-image:
    radial-gradient(rgba(4, 41, 58, 0.486), rgb(4, 41, 58)), 
    url('/git.jpeg');
    
    grid-column: 4 / -1;
    object-fit: contain;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 25vh;
    margin-bottom: 25vh;
}
.leftfeatureimg2{
    background-image: url('/live.gif');
    grid-column: 1 / 6;
    object-fit: contain;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 25vh;
    margin-bottom: 25vh;
}
img{
   width: 100%;
}/* }<img src="/custom-cover-ft.png" alt="Custom cover photo example"> */

.leftfeature {
    grid-column: 2 / 4;
  
}

.leftfeature, .rightfeature{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.leftfeature a{
    color: white;
}

.rightfeature {
    grid-column: 6 / 8;
}

.leftfeature a{
    font-size: 15px;
 }


@media only screen and (max-width: 1000px) {
    .welcome-video-container-after {
        background-size: 100%;
    }
    .create_meeting {
        
        grid-column: 1 / -1;
       
    }
}

@media only screen and (max-width: 876px) {
    .rightfeature{
        margin-bottom: 20vh;
    }
    .rightfeatureimg1{
        background-size: 120%;
        grid-column: 1 / -1;
        height: 50vh;
      
        margin: 0px;
    }
    .rightfeatureimg3{
       
        
        grid-column: 1 / -1;
        height: 20vh;
        margin: 0px;
    }
    .leftfeatureimg2{
        grid-column: 1 / -1;
        height: 50vh;
        margin: 0px;
    }
    h3, .subdesc{
        text-align: left;
        padding: 0px 20px;
    }
    .subdesc{
        font-size: 20px;
    }
    .subdesc {
        grid-column: 1 / -1;
    }
    
}

@media only screen and (max-width: 652px) {
    
    footer a {
        background-size: 20%;
    }
}

@media only screen and (max-width: 874px) {
  .leftfeature, .rightfeature{
    grid-column: 2 / -2;
  } 
  
}

@media only screen and (max-width: 500px) {
    .welcome-video-container-after {
        background-size: 150%;
    }
    header{
        min-height: auto;
    }
    #logo {
        display: none;
    }

    header a {
        margin: 0px;
        width: auto;
    }

    #login {
        width: 100%;
        justify-content: space-around;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer a{
        background-size: contain;
        margin-bottom: 20px;
        text-align: center;
    }
}