
/* https://colorhunt.co/palette/041c3204293a064663ecb365 */

:root {
    --color-400: #041C32;
    --color-300: #04293A;
    --color-200: #064663;
    --color-100: #ECB365;
  }
body{
    margin: 0px;
}


header{
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    justify-content: space-around;
 
    background-color: var(--color-400);
    min-height: 100px;
   
}
header a{
    
    width: 50%;
    background-color: var(--color-200);
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 32px;
    border-radius: 4px;
    margin-left: 40px;
}

header a:hover{
    filter: saturate(200%);
    box-shadow: 5px 0px 0px 0px var(--color-100);
    transition: box-shadow 0.15s ease-out, filter 0.15s ease-out, background-color 0.15s ease-out;

    
}

header a:not(:hover){
    transition: box-shadow 0.15s ease-in, filter 0.15s ease-in, background-color 0.15s ease-in;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
   
}



#logo{
    color: var(--color-100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

#user_button, #user_button:hover{
    border-radius: 0px;
    filter: none;
    box-shadow: none;
    width: auto;
    background-color: transparent;
    margin: 0px;
    padding: 11px 40px;
}
#user_button:hover{
    background-color: var(--color-200);
}

main{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    color: white;
    background-color: var(--color-300);
    min-height: calc(100vh - 200px);
}

.main_title{
    grid-column: 4 / 6;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3 / 7;
    text-align: center;
    
}

form > * {
    padding: 10px 20px;
    text-align: center;
    border: none;
    margin: 0px;
    
}

form > input, form > input {
    border-radius: 10px 0 0 10px;
    min-width: 40%;
    font-size: 24px;
}
form > input:focus{
    border: none;
    outline: none;
    
}

form > button {
    background-color: var(--color-100);
    border-radius: 0 10px 10px 0;
    min-width: 20%;
}

#join{
    background-image: url('arrow-right-to-bracket-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
}

.desc{
    grid-column: 2 / 8;
    text-align: center;
    font-size: 64px;
    font-weight: 500;
}

.subdesc{
    grid-column: 3 / 7;
    text-align: center;
    font-size: 21px;
}

.leftfeature{
    grid-column: 2 / 4;
}

.rightfeature{
    grid-column: 6 / 8;
}

footer{
    color: rgba(255, 255, 255, 0.407);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    width: 100%;
    min-height: 100px;
    background-color:  var(--color-400);
}
footer span{
    margin-right: 20px;
}

.create_meeting{
    grid-column: 4 / 6;
    text-align: center;
    min-width: 50%;
    margin: auto;
    background-color: var(--color-100);
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 5px 20px;
}

h2{
    grid-column: 1 / -1;
    text-align: center;
}