/* https://colorhunt.co/palette/041c3204293a064663ecb365 */

:root {
    --color-400: #041C32;
    --color-300: #04293A;
    --color-200: #064663;
    --color-100: #ECB365;
}
*{
    margin: 0px;
    padding: 0px;
    background-color: var(--color-300);
}

body{
    margin: 0px;
}


header{
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: var(--color-400);
    min-height: 100px;
    margin-bottom: 20px;
   
}

.comms{
    background-color: var(--color-400);
    color: var(--color-100);
    font-size: 32px;
}

.name{
    background-color: var(--color-400);

    color: snow;
    font-size: 26px;
}

main{
    
    
    min-height: calc(100vh - 100px);


    background-color: var(--color-300);
    color: snow;
}
.question-creation-box{
    padding: 20px;
    background-color: transparent;
    width: 500px;
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px black;
    margin-bottom: 10px;
}
#question-input{
    display: inline-block;
    width: 485px;
}

 input,textarea{
    margin-bottom: 15px;
    padding: 10px;
    color: snow;
    border: 0px;
    border-bottom: 2px solid #032433;
    /* background-color: #032433; */
   
}
input:focus,textarea:focus{
    border: 0px;
    background-color: #032433;
    outline: 0px;
}
input{
    width: 485px;
}
p{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#send{
    background-color: var(--color-100);
    padding: 10px 16px;
    margin-left: auto;
    color: var(--color-400);
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}

#send:hover{
    filter: saturate(2);
    cursor: pointer;
}

.button-container{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}

.question_card{
    padding: 20px;
    background-color: transparent;
    width: 500px;
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px black;
    margin-bottom: 10px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.username{
    font-size: 14px;
    font-weight: bold;
}

.question{
    font-size: 15px;
}

.age{
    opacity: 50%;
    font-size: 12px;
}
.like{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url('thumbs-up-regular.svg');
    padding: 5px;
    padding-left: 30px;
    color: white;
    background-repeat: no-repeat;
    background-position: left;
    border: 0px;
    cursor: pointer;
}

.question{
  
    word-break: break-all;
    
}

.sortc{
    width: 540px;
    margin: auto;
    padding: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 0px;
}

option{
    cursor: pointer;

    color: white;
    border: 0px;
}

#sort{
    cursor: pointer;
    border: 0px;
    color: white;
}
#sort:focus{
    border: 0px;
    outline: 0px;
}

.refresh{
    color: white;
    border: 0px;
    background-image: url('refresh.svg');
    cursor: pointer;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding-right: 20px;
}
.refresh:hover{
    opacity: 1;
}

.answer_button{
    background-image: url('check-solid.svg');   
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    cursor: pointer;
}

.answered{
    outline: 1px solid green;
}